@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: blue;

}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: var(--padding-container);
}